<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="body">
<div class="containers">
<h1 class="world1">お金がなくても世界は行ける!!</br>
  </br>今すぐ世界に飛び立とう</br></br></br></br></br></br></br></br></h1>
   
<div class="globe_r"></div>
  <h3 class="world2">現在ITの進化によりいとも簡単に世界中の人とつながることができます。</br></br></br></br>
  それはつまりグローバルの壁が昔と比べかなり低くなっている
  といえるでしょう。</br></br></br></br>
  しかし一方で、海外に直接出むき、現地と触れ合う、生のグローバルは昔と比べ壁はいまだに高いままです。</br></br></br></br>理由はいくらIT化が進んだといえども
  現地に行くにはお金がかかるからです。</br></br></br></br>本サービスはITだけでなく生のグローバルに壁をなくす事を目的としたサービスです</h3> 
 
</div>
</div>
 <div class="row">
	<div class="col-lg-12">
		<ul class="mendi-social-networks">
    	<li class="facebook">
		
				<i class="fa fa-facebook"> </i>
				<p><%=link_to 'LOGIN TO OUR NETWORK',new_user_session_path%></br></p>
				<span class="followers">268K Followers</span>
			
		</li>
		<li class="twitter">
		
				<i class="fa fa-twitter"> </i>
				<p> <%=link_to 'CREATE TO OUR NETWORK' ,new_user_session_path%></p>
				<span class="followers">268K Followers</span>
			
		</li>
		<li class="googleplus">
		
				<i class="fa fa-google-plus"> </i>
				<p> <%=link_to 'CREATE TO OUR NETWORK', new_user_registration_path%></p>
				<span class="followers">268K Followers</span>
		</li>
		<li class="linkedin">
		
				<i class="fa fa-linkedin"> </i>
					<p> <%=link_to 'LOGOUT TO OUR NETWORK' ,destroy_user_session_path, method: :delete%></p>
			
				<span class="followers">268K Followers</span>
			
		</li>
	</ul>
	</div>
</div>





















